<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <title>Update</title>

      <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.5/examples/album/"
      />

      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
      />

      <link href="css/album.css" rel="stylesheet" />
      <link rel="icon" type="image/png" href="/images/favicon.png" />
    </head>
    <body>
     

      <div class="container">
        <h1 class="text-center">Create A New BMW Record </h1>
        <div class="row justify-content-md-center">
          <div class="col-">
           
            <form method="POST" action="/u/:id">
               
              <div class="form-group">
                <label for="maker">Maker </label>
                <input type="text" class="form-control" id="maker" name="maker" value="<%= result.maker_key %>" />
              </div>
              <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" name="model" value="<%= result.model_key %>" />
              </div>
              <div class="form-group">
                <label for="mileage">Mileage</label>
                <input type="text" class="form-control" id="mileage" name="mileage" value="<%= result.mileage %>" />
              </div>
              <div class="form-group">
                <label for="engine">Engine Power</label>
                <input type="text" class="form-control" id="engine" name="engine" value="<%= result.engine_power %>" />
              </div>
              <div class="form-group">
                <label for="registration">Registration Date</label>
                <input type="text" class="form-control" id="registration" name="registration" value="<%= result.registration_date %>" />
              </div>
              <div class="form-group">
                <label for="fuel">Fuel</label>
                <input type="text" class="form-control" id="fuel" name="fuel" value="<%= result.fuel %>" />
              </div>
              <div class="form-group">
                <label for="paint">Paint Color</label>
                <input type="text" class="form-control" id="paint" name="paint" value="<%= result.paint_color %>" />
              </div>
              <div class="form-group">
                <label for="type">Type of the Car</label>
                <input type="text" class="form-control" id="type" name="type" value="<%= result.car_type %>" />
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="price" value="<%= result.price %>" />
              </div>
              <div class="form-group">
                <label for="sold_at">Sold Date</label>
                <input type="text" class="form-control" id="sold_at" name="sold_at" value="<%= result.sold_at %>" />
              </div>


              <button type="submit" class="btn btn-primary">Update</button>
              
            </form>
           
          </div>
        </div>
      </div>
     
    </body>
  </html>
</html>